* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #FD5B32;
    --color-light-primary: #FFE1E1;
    --color-dark-blue: #03045E;
    --color-bg: #F1F1F1;
    --color-red: #FF0000;
    --color-light-red: #FFCCCC;
    --color-green: #00F000;
    --color-light-green: #99FFCC;
    --color-charcoal-gray: #36454F;
    --color-white: #FFFFFF;
    --color-ash: #F5F5F5;
    --color-black: #000000;

    --font-size: 0.9rem;

    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-mg: 88%;
    --form-width: 100%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    background: var(--color-ash);
    min-height: 100vh;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
    flex: 1;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: var(--card-border-radius-2);
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/* REUSABLE CSS */
.sidebar .text {
    font-size: 1rem;
    font-weight: 500;
}

.sidebar .image-text img {
    width: 3.2rem;
    border-radius: 0.4rem;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ADMIN SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15.6rem;
    padding: 0.6rem 0.9rem;
    font-weight: bold;
    background: var(--color-white);
}

.sidebar .image-text img {
    width: 3.2rem;
    border-radius: 0.6rem;
}

.sidebar header .image-text {
    display: flex;
    border-radius: 0.4rem;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}